# ignore big posterior files & plots
lee_posteriors/*
brendan_posteriors/*
plots/*
*.npy

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore the script to grab Bowler+ 2020 posteriors
get_files.py