# ignore big posterior files, plots, and old stuff
lee_posteriors/*
brendan_posteriors/*
plots/*
*.npy
OLD/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore the script to grab Bowler+ 2020 posteriors
get_files.py